.black-box{
    position: absolute;
    width: 1440px;
    height: 351px;
    left: 0px;
    top: 0px;
    background-color: #464646;
}
.logo{
    position: absolute;
    width: 99px;
    height: 89px;
    left: 86px;
    top: 53px;    
    box-shadow: 0px 2px 21px 4px rgba(0, 0, 0, 0.25);
}
.topic-top{    
    position: absolute;
    width: 1107px;
    height: 128px;
    left: 86px;
    top: 167px;    
    font-family: Jaldi;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 81px;
    color: #EE6342;
}
.topic-bottom{
    
position: absolute;
width: 622px;
height: 26px;
left: 86px;
top: 269px;

font-family: Gemunu Libre SemiBold;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 26px;

color: #FFFFFF;
}
.black-box-right img{

    width: 377px;
    height: 512px;
   float: right;
    left: 1240px;
    top: 0px;
}